<!DOCTYPE html>
<html>
  <head>
    <title>WbooksApi</title>
    <%= csrf_meta_tags %>
   

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
  </head>

  <body>
    <%= yield %>
    <div id="user_nav">
  <% if user_signed_in? %>
    Conectado como <%= current_user.email %>. isn't that you?
    <%= link_to "Log off", destroy_user_session_path, :method => :delete%>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> o
    <%= link_to "Login", new_user_session_path %>
  <% end %>
</div>
  </body>
</html>
